<nav class="blue darken-4">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
    <div class="nav-wrapper container">

        <div class="dashboard-title">
            <h6 class="comic-title">⚡ComicVerse Web-App</h6>
            <span class="sound-effect">Zap! Pow! Boom!</span>
        </div>
    </div>
</nav>
<ul class="sidenav blue darken-4" id="mobile-demo">
    <li><a class="navbar" style="color: white;" href="/stories">Public Comic</a></li>
    <li><a class="navbar" style="color: white;" href="/dashboard">My admin</a></li>
    <li><a class="navbar" style="color: white;" href="/auth/logout">Logout</a></li>
</ul>